* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading {
    text-align: center;
    font-size: 50px;
}

.navigation {
    text-align: right;
}

.about {
    text-align: center;
}

#aboutme {
    font-size: 30px;
    
}

#picture {
    font-size: 20px;
    text-align: center;
}

#myprojects {
    font-size: 20px;
    text-align: center;
}

#skills {
    text-align: center;
}

.skilllist {
   
    text-align: center;
    
}

ul {
    list-style-type: none;
  }
  
.projects {

}

#VC {

}

#village {

}

#tea {

}

.skills {
  
}

#skilltitle {

}

img {
    height: 500px;
    width: 1000px;
}

.contact {
    font-size: 20px;
    text-align: center;
}