* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
  

/*Add colour when writing final portfolio*/

/*Below only includes css for desktop so tablet and phone elements are block level
When you make your real porfolio make sure to add css to other viewports to improve appearance*/

@media only screen and (min-width: 1000px) {


#heading {
    font-size: 50px;
    margin: 0;
    
}

.navbar{
  margin: 0 auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    position: relative;
    right: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

header {
    text-align: center;
}

#myprojects {
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}

header {
    position: relative;
    top: 50px;
    bottom: 50px;
    margin-bottom: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    position: relative;
}

.grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
.about, 
.picture,
.projects,
.skills,
footer {
    padding: 1em;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    flex: auto;
}

header, 
footer {
    grid-column: 1 / 4;
}

.about {
    height: 400px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  }


.contact {
    position: relative;
    top: 20px;
    text-align: center;
    left: 0px;
    line-height: 1.6;
    
}

h2 {
    display: inline-block;
}

/*below is code to change from light mode to darkmode in conjunction with css*/

button {
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 15px;
    width: 250px;
    position: relative;
    left: 500px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

}

