* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/*Add colour when writing final portfolio*/


#heading {
    font-size: 50px;
    margin: 0;
    
}

.navbar{
  margin: 0 auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    position: relative;
    right: 30px;
    display: flex;
    justify-content: space-around;
}

header {
    text-align: center;
}

#myprojects {
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}

header {
    position: relative;
    top: 50px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px 100px;
    gap: 20px;
    position: relative;
    top: 100px;
}

.grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
.about, 
.picture,
.projects,
.skills,
footer {
    padding: 1em;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

header, 
footer {
    grid-column: 1 / 4;
}

.about {
    height: 400px;
}


.contact {
    text-align: center;
}

h2 {
    display: inline-block;
}
